
mkdocs
mkdocs-material
mkdocs-table-reader-plugin
mkdocstrings
mkdocs-git-revision-date-localized-plugin
mkdocs-git-committers-plugin-2
mkdocs-table-reader-plugin 
mkdocs-glightbox 
mkdocs-rss-plugin 
mkdocs-awesome-nav
mkdocs-macros-plugin
mkdocs-obsidian-interactive-graph-plugin
